@model IEnumerable<TaskManage.Models.Todo>
@{
    ViewData["Title"] = "TaskManage";
}

<h1>Tasks</h1>

<p>
    <a asp-action="create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                やること
            </th>
            <th>
                期限
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.deadline)
            </th>
        </tr>
        }
    </tbody>
</table>